# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

# ignore
.gitignore
.idea/.gitignore
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/tensorflow-notebook.iml
.idea/vcs.xml
py/5.mnist/data/
py/5.mnist/model/
py/6.lenet/data/
py/6.lenet/model/
py/6.lenet/__pycache__/
